body {
  margin: 0;
}

h1 {
  color: red;
  font-size: 75px;
}

h2 {
  color: red;
}

.catDisplay {
  margin: 2% 20%;
}

#cat-img {
  height: auto;
  width: 50%;
}

.clicks {
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
}

.names {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
}

#cat-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#cat-list li {
  list-style: none;
  font-size: 20px;
}

li:hover, img:hover {
  color: red;
  cursor: pointer;
}

#admin-button {
  margin: 0 15%;
}