body {
  margin: 5%;
}

h1 {
  color: red;
  font-size: 75px;
}

h2 {
  color: red;
}

.catDisplay {
  margin: 10% 20%;
}

/* #cat1, #cat2 {
  width: 50%;
} */

#catPic {
  height: auto;
  width: 50%;
}

/* #catPic2 {
  height: 50%;
  width: 50%;
}
 */

.clicks {
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
}

.names {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
}

.catContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#catList li {
  list-style: none;
  font-size: 20px;
}

li:hover {
  color: red;
  cursor: pointer;
}